.control-button-div {
    width: 120px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .control-button-div.longpress {
    background-color: lightblue;
  }
  .control-button-input {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide the button but keep it clickable */
  }

  
  
  .control-button-input img {
    width: 40px;
    height: 40px;
    /*pointer-events: none; /* Prevent the image from blocking the button click */
  }